@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --php: #4F5B93;
}

html{
    font-family: "Poppins";
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


.rating-component{
    opacity: 0;
    animation: animation-rating-out .2s forwards;
    transition:ease-in;
}

.rating-active{
    opacity: 1;
    animation: animation-rating-in-up .2s forwards;
}

.anim-up{
    animation: animation-rating-in-up .6s forwards;
}

.anim-down{
    animation: animation-rating-in-down .6s forwards;
}


@keyframes animation-rating-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes animation-rating-in-down {
    from{transform: translate(0,-48px); opacity: 0;}
    to{transform: translate(0,0); opacity: 1;}
}

@keyframes animation-rating-in-up {
    from{transform: translate(0,48px); opacity: 0;}
    to{transform: translate(0,0); opacity: 1;}
}

.dot{
    background-color: #CCC;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.dot-active{
    background-color: var(--php);
}

a,button,input[type="submit"]{
    transition:.2s;
}

.mobile-menu-show{
    z-index: 999;
    display:unset;
    position:fixed;
    width: 100vw;
    height: 200vh;
    background-color: #00000050;
}

.mobile-menu > div{
    display:flex;
    flex-direction: column;
    padding:10vh 5vh;
    gap:5vh;
    font-size: 24px;
    position:fixed;
    width: 70vw;
    height: 100vh;
    z-index: 10000 !important;
    left: 0;
    top:0;
    border-right: 1px solid #000;
    pointer-events:visible;
}

.mobile-menu-show > div{
    animation: slide-in .6s forwards;
}

.mobile-menu-hide > div{
    animation: slide-out .6s forwards;
}

#close{
    position:absolute;
    right: 10%;
    top:5%;
    cursor: pointer;
}

.mobile-menu-show > div > a:hover{
    color:#CCC;
}

.mobile-hidden *{
    display: none !important;
}

@keyframes slide-in {
    from{transform: translateX(-500px);}
    to{transform: translateX(0);}
}

@keyframes slide-out {
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}

@media only screen and (min-width: 768px) {
    .mobile-menu-show{
        display:none !important;
    }
}